{% extends layout %}
{% block content %}
<section class="section section--bg-black intro">
	<div class="container">
		<div class="section__inner">
			<div class="section__content">
				<h1 class="title title--size-extra" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">Ни&nbsp;минуты простоя</h1>
				<p class="text"  data-aos="fade-up" data-aos-offset="200"  data-aos-delay="100">Защитите свой бизнес&nbsp;&mdash; арендуйте резервный ЦОД<br>в&nbsp;облаке и&nbsp;минимизируйте технологические риски!
				</p>
				<p class="text text--fz-30"  data-aos="fade-up" data-aos-offset="200"  data-aos-delay="100">от&nbsp;4&nbsp;500&nbsp;₽/месяц
				</p>
				<div  data-aos="fade-up" data-aos-offset="200" data-aos-delay="150" class="mb20">
					{{ Macros.Btn('mailto:info@it-sm.org') }}
				</div>
			</div>
		</div>
	</div>
	<div class="section__stage stage stage--height">
		<img class="stage__object" data-obj="1" src="{{ 'tiger.jpg' | img_asset }}" alt="" data-aos="fade-left" data-aos-offset="200">
	</div>
</section>

<section class="section section--rtl" id="about">
	<div class="container">
		<div class="section__inner" data-aos="fade-left" data-aos-offset="300">
			<div class="section__content">

				<p class="title">Что такое РЦОД?</p>
				<div class="section__text-wrapper">
					<p class="text">Резервный центр обработки данных&nbsp;&mdash; арендованные серверные мощности, которые примут на&nbsp;себя часть или всю нагрузку, если основной локальный ЦОД частично или полностью вышел из&nbsp;строя.</p>
					<p class="text">В&nbsp;двух словах, резервный ЦОД&nbsp;&mdash; это дублер, который сыграет роль вашего сервера так&nbsp;же хорошо. А&nbsp;вы&nbsp;не&nbsp;заметите подмены.</p>
				</div>
			</div>
		</div>
		<div class="section__stage stage" data-aos="fade-up" data-aos-offset="300" data-aos-delay="250">
			<img  class="stage__object" src="{{ 'about.png' | img_asset }}" data-obj="2" alt="">
		</div>
	</div>
</section>

<section class="section section--bg-violet" id="for-what">
	<div class="container">
		<div class="section__inner" data-aos="fade-right" data-aos-offset="200" >
			<div class="section__content">

				<p class="title">Зачем РЦОД бизнесу?</p>
				<div class="section__text-wrapper">
					<p class="text">Организация резервного ЦОДа&nbsp;&mdash; один из&nbsp;ключевых этапов планирования непрерывности бизнеса (Business Continuity Plan). Если вы&nbsp;хотите, чтобы данные компании были защищены, а&nbsp;в&nbsp;случае сбоев оборудования рабочий процесс восстанавливался максимально быстро, вам нужен резервный&nbsp;ЦОД.</p>
				</div>
				{{ Macros.Btn('mailto:info@it-sm.org', 'btn--bg-white' + ' btn--mt') }}
			</div>
		</div>
		<div class="section__stage stage">
			<img class="stage__object"  data-aos="fade-up" data-aos-offset="200" data-aos-delay="150" data-obj="3" src="{{ 'for-what.jpg' | img_asset }}" alt="">
		</div>
	</div>
</section>

<section class="section section--onecolumn section--no-min-height">
	<div class="container">
		<div class="section__inner section__inner--height-auto section__inner--no-padding">
			<div class="section__content" data-aos="fade-up" data-aos-offset="200">
				<h2 class="title" data-aos="fade-up" data-aos-offset="200" data-aos-delay="150">Если резерв&nbsp;– то&nbsp;в&nbsp;облаке</h2>
				<p class="text text--mw-850">Создание резервного сервера в&nbsp;наземной инфраструктуре обойдется вашей компании не&nbsp;дешевле покупки основного, первичного. На&nbsp;&laquo;железо&raquo; и&nbsp;программное обеспечение придется выложить от&nbsp;500&nbsp;000&nbsp;рублей.</p>
				<p class="text text--mw-850 text--mb">В&nbsp;то&nbsp;время как резервный ЦОД в&nbsp;облаке не&nbsp;требует капитальных затрат. А&nbsp;операционные затраты составят всего от&nbsp;4&nbsp;500 рублей в&nbsp;месяц!</p>
				<div>
					{{ Macros.Btn('mailto:info@it-sm.org', 'btn--mt') }}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--bg-gray" id="advantages">
	<div class="container">
		<div class="section__inner" data-aos="fade-right" data-aos-offset="200" >
			<div class="section__content">

				<p class="title">Если аутсорс – то&nbsp;IT-SM</p>
				<div class="section__text-wrapper">
					<p class="text">Предложим индивидуальное решение, а&nbsp;не&nbsp;&laquo;коробку&raquo;, ведь мы&nbsp;специализируемся на&nbsp;ИТ-аутсорсе. Изучим ваш бизнес, вникнем в&nbsp;его задачи и&nbsp;станем частью вашей команды.</p>
					<p class="text">Возьмем на&nbsp;себя весь процесс подключения резервного облачного ЦОДа, ответим на&nbsp;все ваши вопросы и&nbsp;спрогнозируем дальнейшую ИТ-оптимизацию.</p>
					<p class="text">Гарантируем безотказную работу ЦОДа, так как наш сервис работает на&nbsp;платформе Microsoft Azure. Наша техподдержка работает круглосуточно.</p>
				</div>
			</div>
		</div>
		<div class="section__stage stage">
			<img class="stage__object" data-aos="fade-up" data-aos-offset="200" data-aos-delay="150" data-obj="4" src="{{ 'outsource.png' | img_asset }}" alt="">
		</div>
	</div>
</section>

<section class="section section--onecolumn section--no-min-height" id="cost">
	<div class="container">
		<div class="section__inner section__inner--height-auto section__inner--no-padding">
			<div class="section__content" data-aos="fade-up" data-aos-offset="200" data-aos-delay="150">
				<h2 class="title">Стоимость резервного ЦОДа<br>в&nbsp;облаке в&nbsp;месяц от&nbsp;4&nbsp;760 рублей</h2>
				<p class="text text--fz-30">Аренда сервера от&nbsp;1&nbsp;560 рублей <span class="text text--fz-30 text--wrap">+ аренда хранилища 3&nbsp;200 рублей за&nbsp;1&nbsp;ТБ</span></p>
				<div>
					{{ Macros.Btn('mailto:info@it-sm.org', 'btn--mt') }}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--bg-violet section--onecolumn section--small-padding section--no-min-height" id="calc">
	<div class="container">
		<div class="section__inner section__inner--height-auto section__inner--no-padding" data-aos="fade-right" data-aos-offset="200">
			<div class="section__content">
				<h2 class="title" data-aos="fade-up" data-aos-offset="200"  data-aos-delay="100">Калькулятор простоев</h2>
				<p class="text text--mw-850" data-aos="fade-up" data-aos-offset="200"  data-aos-delay="100">Узнайте, во&nbsp;сколько обойдется вашей компании всего один день простоя, если из&nbsp;строя выйдет ваш основной сервер.</p>
			</div>
		</div>
	</div>
</section>
<section class="section section--bg-violet">
	<div class="container">
		<div class="calc" data-aos="fade-up" data-aos-offset="100">	
			<form action="#" class="calc__form">
				<div class="calc__row calc__row--border">

						<div class="calcr__item calc-item">
							<input class="calc-item__input" type="number" name="workers" data-calc="workers" required="" placeholder="50">
							<div class="calc-item__descr">Количество сотрудников в&nbsp;компании</div>
						</div>

						<div class="calc__item calc-item">
							<input class="calc-item__input" type="number" name="average-salary" data-calc="average-salary" required="" placeholder="25000">
							<div class="calc-item__descr">Размер средней зарплаты в&nbsp;компании до&nbsp;вычета НДФЛ, ₽</div>
						</div>

						<div class="calc__item calc-item">
							<input class="calc-item__input" type="number" name="ratio" data-calc="ratio" required="" placeholder="40">
							<div class="calc-item__descr">Соотношение зарплаты к&nbsp;валовой прибыли компании, %</div>
						</div>

						<div class="calc__item calc-item">
							<input class="calc-item__input" type="number" name="margin" data-calc="margin" required="" placeholder="20">
							<div class="calc-item__descr">Усредненная маржа компании, %</div>
						</div>

						<div class="calc__item calc-item">
							<input class="calc-item__input" type="number" name="workdays" data-calc="workdays" required="" placeholder="22">
							<div class="calc-item__descr">Количество рабочих дней в&nbsp;месяце</div>
						</div>
				</div>
				<div class="calc__row calc__results calc__row--hidden">

				<div class="calc__item calc-item">
					<div class="calc-item__result" data-calc="workers"></div>
					<div class="calc-item__descr">Стоимость одного сотрудника для компании с&nbsp;учетом медицинских, страховых и&nbsp;пенсионных отчислений, ₽</div>
				</div>

				<div class="calc__item calc-item">
					<div class="calc-item__result" data-calc="average-salary"></div>
					<div class="calc-item__descr">Ежемесячный фонд зарплат компании, ₽</div>
				</div>

				<div class="calc__item calc-item">
					<div class="calc-item__result" data-calc="ratio"></div>
					<div class="calc-item__descr">Минимальный размер валовый прибыли компании для подержания текущего фонда зарплат в&nbsp;месяц, ₽</div>
				</div>

				<div class="calc__item calc-item">
					<div class="calc-item__result" data-calc="margin"></div>
					<div class="calc-item__descr">Минимальный размер объема продаж компании для подержания текущего фонда зарплат в&nbsp;месяц, ₽</div>
				</div>

				<div class="calc__item calc-item calc-item--last">
					<div class="calc-item__result" data-calc="workdays"></div>
					<div class="calc-item__descr calc-item__descr--last">Минимальная стоимость одного дня простоя для компании, ₽</div>
				</div>

			</div>
				<div class="calc__wrapper">
					<button href="#" class="btn calc__btn">Рассчитать</button>
				</div>
			</form>

			


		</div>

		<section class="section section--bg-violet section--onecolumn section--no-min-height section--small-padding">
				<div class="section__inner section__inner--height-auto section__inner--no-padding" data-aos="fade-right" data-aos-offset="100" >
					<div class="section__content">

						<h1 class="title" data-aos="fade-up" data-aos-offset="100" data-aos-delay="50">Сопоставьте риски</h1>
						<p class="text" data-aos="fade-up" data-aos-offset="100"  data-aos-delay="100">Закажите резервный ЦОД в&nbsp;IT-SM и&nbsp;обеспечьте непрерывную работу бизнеса!</p>
						<div data-aos="fade-up" data-aos-offset="100" data-aos-delay="150" class="mb20">
							{{ Macros.Btn('mailto:info@it-sm.org', 'btn--bg-white' + ' calc__mail-btn')}}
						</div>
					</div>
				</div>
		</section>

	</div>
</section>

<section class="section section--bg-black">
	<div class="container">
		<div class="section__inner">
			<div class="section__content">
				<h1 class="title title--size-extra" data-aos="fade-up">Мы&nbsp;ответим на&nbsp;все<br> ваши вопросы</h1>
				<p class="text text__contact" data-aos="fade-up"><a href="tel:+78633330215">+7 (863) 333-02-15</a></p>
        <p class="text text__contact" data-aos="fade-up"><a data-aos-delay="100" href="mailto:info@it-sm.org">info@it-sm.org</a></p>
        <p class="text text__contact" data-aos="fade-up">Ростов-на-Дону</p>
        <p class="text text__contact" data-aos="fade-up"><a target="_blank" href="https://yandex.ru/maps/39/rostov-na-donu/?mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D39.729%252C47.223%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%25A0%25D0%25BE%25D1%2581%25D1%2582%25D0%25BE%25D0%25B2-%25D0%25BD%25D0%25B0-%25D0%2594%25D0%25BE%25D0%25BD%25D1%2583%252C%2520%25D0%25A3%25D0%25BD%25D0%25B8%25D0%25B2%25D0%25B5%25D1%2580%25D1%2581%25D0%25B8%25D1%2582%25D0%25B5%25D1%2582%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D0%25BF%25D0%25B5%25D1%2580%25D0%25B5%25D1%2583%25D0%25BB%25D0%25BE%25D0%25BA%252C%252032%2520&ll=39.729125%2C47.222770&z=17" class="text__contact text__contact--underline">Университетский, 32</a></p>
				<div  data-aos="fade-up" class="mb20">
					{{ Macros.Btn('mailto:info@it-sm.org', 'btn--mt') }}
				</div>
			</div>
		</div>
		<div class="section__stage stage stage--height">
			<img class="stage__object" data-obj="6" src="{{ 'city.jpg' | img_asset }}" alt="" data-aos="fade-left" data-aos-offset="200">
		</div>
	</div>
</section>
{% endblock %}

