<header class="header" id="header">
  <div class="container">
    <div class="header__row">
      <div class="header__col header__col--slot-brand">
        <a href="#" class="header__brand">
          <img src="{{ 'logo.png' | img_asset }}" alt="{{ common.data.companyName }}">
        </a>
      </div>
      <div class="header__col">
        <div class="header__contacts">
          <a class="header__link" href="tel:+78633330215">+7 (863) 333-02-15</a>
          <!-- <a class="header__link" href="mailto:info@it-sm.org">info@it-sm.org</a> -->
          <a href="#" class="btn header__btn btn--size-large">Написать нам</a>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-nav">
  <div class="main-nav__progress"></div>
  <div class="container">
    <div class="main-nav__row">
      <a href="#about" data-link="0" class="main-nav__link main-nav__link--first">Что такое РЦОД?</a>
      <a href="#for-what" data-link="1" class="main-nav__link">Зачем РЦОД бизнесу?</a>
      <a href="#calc" data-link="4" class="main-nav__link main-nav__link--last">Калькулятор</a>
      <a href="#advantages" data-link="2" class="main-nav__link">Преимущества IT-SM</a>
      <a href="#cost" data-link="3" class="main-nav__link">Стоимость</a>
      <a href="#header" class="move-up move-up--hidden">Наверх</a>
    </div>
  </div>
</nav>
</header>